* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #220434;
  font-size: 2rem;
  text-decoration: underline;
}

h2 {
  color: rgb(127, 67, 182);
  text-decoration: overline;
  font-size: 1.5rem;
}

p {
  color: #220434;
  font-size: 1rem;
}

header {
  background-image: linear-gradient(to right top, #ebaacf, #ee9cd1, #ee8dd5, #ec7eda, #e870e1, #d963d9, #c956d1, #b949c9, #9e3aaf, #842c96, #6b1e7e, #530f66);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .logoPrincipal {
  width: 150px;
}
header .c-menu {
  background-image: linear-gradient(to right top, #ebaacf, #ee9cd1, #ee8dd5, #ec7eda, #e870e1, #d963d9, #c956d1, #b949c9, #9e3aaf, #842c96, #6b1e7e, #530f66);
  font-size: 1.5rem;
}
header .botones {
  color: #530f66;
}

footer {
  background-image: linear-gradient(to right top, #ebaacf, #ee9cd1, #ee8dd5, #ec7eda, #e870e1, #d963d9, #c956d1, #b949c9, #9e3aaf, #842c96, #6b1e7e, #530f66);
}
footer .logo2 {
  width: 100%;
  height: 80%;
  border-radius: 100%;
}
footer .logo2 img {
  width: 40%;
  text-align: center;
}
footer .redes1, footer .redes3, footer .redes2 {
  border-radius: 30%;
  border: 1px solid #7f7e80;
  width: 10%;
}
footer .redes {
  color: aliceblue;
  text-decoration: overline;
  text-align: center;
}
footer .redes img {
  width: 20%;
}

.introduccion {
  background-color: #d197cf;
  text-align: center;
}
.introduccion img {
  opacity: 60%;
}
.introduccion h1 {
  color: rgb(226, 131, 218);
  font-size: 2rem;
  text-shadow: -2px 1px 2px #3A3232;
}
.introduccion p {
  color: rgb(181, 99, 206);
  font-size: 2rem;
  text-shadow: -2px 1px 2px #3A3232;
}
.introduccion .efecto:hover {
  color: blueviolet;
}

main {
  background-color: #b9c1d8;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px;
}
main .caja-grid {
  display: grid;
  grid-template-areas: "encabezado encabezado" "imagen1   imagen2" "  t1        t2" "imagen3    imagen4" "   t3         t4";
  grid-template-rows: 100px 400px 150px 400px 150px;
  grid-template-columns: 2fr 2fr;
  justify-items: center;
}
main .caja-grid img {
  width: 90%;
  border-style: double;
}
main .caja-grid .grid-encabezado {
  grid-area: encabezado;
}
main .caja-grid .grid-imagen-1 {
  grid-area: imagen1;
}
main .caja-grid .grid-imagen-2 {
  grid-area: imagen2;
}
main .caja-grid .grid-t-1 {
  grid-area: t1;
}
main .caja-grid .grid-t-2 {
  grid-area: t2;
}
main .caja-grid .grid-imagen-3 {
  grid-area: imagen3;
}
main .caja-grid .grid-imagen-4 {
  grid-area: imagen4;
}
main .caja-grid .grid-t-3 {
  grid-area: t3;
}
main .caja-grid .grid-t-4 {
  grid-area: t4;
}

.packs img {
  width: 90%;
  padding: 5%;
}

.hotel-t img {
  width: 90%;
  padding: 10%;
}

.tecla {
  text-align: center;
  padding: 10%;
}

.t-destinos img {
  width: 70%;
}

.oferta {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  text-align: center;
}

.boton {
  text-align: center;
  padding: 10%;
}

.titulo {
  background-color: #4e436e;
  text-align: center;
}
.titulo .portada {
  width: 30%;
}

.c-login {
  background-color: #919094;
}

.container {
  position: relative;
  overflow: hidden;
  padding-top: 10%;
}
.container .mapa-resposive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media only screen and (max-width: 800px) {
  main .caja-grid {
    grid-template-areas: "encabezado" "imagen1" "t1" "imagen2" "t2" "imagen3" "t3" "imagen4" "t4";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 250px 150px 250px 150px 300px 150px 250px 150px;
  }
}

/*# sourceMappingURL=adornos.css.map */
