*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body
 {
font-family: Arial, Helvetica, sans-serif;
}

h1 
{
color: #4e0497;
font-size: 2rem;
text-decoration: underline;
}

h2 
{
color: rgb(127, 67, 182);
text-decoration: overline;
font-size: 1.5rem;
}
 
p 
{
color: #220434;
font-size: 1rem;
}

/*header*/
header 
{
background-color: #7f7e80;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.c-menu 
{
  background-color: #7f7e80;
  font-size: 1.5rem;
}
 /* ul 
 {
   list-style: none;
  margin-right: 40px;
 }
 
 nav a
 {
   color: rgb(115, 2, 146);
   font-size: 1.5rem;
 }
 nav
 {
  width: 50%;
 }
 
 header ul
 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
   }*/

 
 .logoPrincipal 
 {
   width: 150px;
 }
 .titulo
  {
background-color: #9b6dc8;
 }

 .presentacion
 {
  background-color: #7f708f;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .portada 
 {
  width: 400px;
 }


 .descripcion 
 {
  color: aliceblue;
  font-size: 1.5rem;
 }


/*main-index*/
main 
{
  background-color: #b9c1d8;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px;
  }
.caja-grid img 
{
width: 300px;
}
.caja-grid 
{
display: grid;
grid-template-areas: 
"encabezado encabezado"
"imagen1   imagen2"
"  t1        t2"
"imagen3    imagen4"
"   t3         t4";


grid-template-rows: 100px 200px 50px 200px 50px;
grid-template-columns: 2fr 2fr;
justify-items: center;
}
.grid-encabezado {
  grid-area: encabezado;
}
.grid-imagen-1{
  grid-area: imagen1;
}
.grid-imagen-2 {
  grid-area: imagen2;
}
.grid-t-1 {
  grid-area: t1;
}
.grid-t-2 {
  grid-area: t2;
}
.grid-imagen-3 {
  grid-area: imagen3;
}
.grid-imagen-4 {
  grid-area: imagen4;
}
.grid-t-3 {
  grid-area: t3;
}
.grid-t-4 {
  grid-area: t4;}
/* main-paquetes*/
.paquetes-grid img 
{
width: 350px;
}
.paquetes-grid 
{
display: grid;
grid-template-areas:
"pack1    pack2    pack3"
"titulo1  titulo2  titulo3"
"boton1   boton2    boton3"
"pack4    pack5     pack6"
"titulo4  titulo5   titulo6"
"boton4   boton5    boton6"
"pack7     pack8    pack8"
"titulo7   titulo8    titulo8"
"boton7   boton8     boton8";
grid-template-rows: 300px 50px 20px 300px 50px 20px 300px 50px 20px;
grid-template-columns: 1fr 1fr 1fr;
justify-items: center;
}
.grid-pack-imagen-1
{
  grid-area: pack1;
}
.grid-descripcion-1 
{
grid-area: titulo1;
}
.grid-boton-1 
{
grid-area: boton1;
}
.grid-pack-imagen-2
{
  grid-area: pack2;
}
.grid-descripcion-2 
{
grid-area: titulo2;
}
.grid-boton-2 
{
grid-area: boton2;
}
.grid-pack-imagen-3
{
  grid-area: pack3;
}
.grid-descripcion-3 
{
grid-area: titulo3;
}
.grid-boton-3 
{
grid-area: boton3;
}
.grid-pack-imagen-4
{
  grid-area: pack4;
}
.grid-descripcion-4 
{
grid-area: titulo4;
}
.grid-boton-4 
{
grid-area: boton4;
}
.grid-pack-imagen-5
{
  grid-area: pack5;
}
.grid-descripcion-5 
{
grid-area: titulo5;
}
.grid-boton-5
{
grid-area: boton5;
}
.grid-pack-imagen-6
{
  grid-area: pack6;
}
.grid-descripcion-6 
{
grid-area: titulo6;
}
.grid-boton-6 
{
grid-area: boton6;
}
.grid-pack-imagen-7
{
  grid-area: pack7;
}
.grid-descripcion-7 
{
grid-area: titulo7;
}
.grid-boton-7 
{
grid-area: boton7;
}
.grid-pack-imagen-8
{
  grid-area: pack8;
}
.grid-descripcion-8 
{
grid-area: titulo8;
}
.grid-boton-8 
{
grid-area: boton8;
}
/*grid-pack-imagen-1 grid-descripcion-1 grid-boton-1 */
/*main-alojamineto*/
.hotel-t img
{
  width: 90%;
  padding: 10%;

}
.boton 
{
  margin: 10%;
text-align: center;
}
/*main-destinos*/
.t-destinos img 
{
width: 50%;
}
.oferta 
{
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}
/*main-quienesSomos*/
.introduccion 
 {
background-color: #7f708f;
text-align: center;
padding: 5%;
 }
.c-login 
{
background-color: #919094;
}
.container 
{
  position: relative;
  overflow: hidden;
  padding-top: 10%;
}
.mapa-resposive 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*footer*/
footer 
{
background-color: #373638;
}


.t-img 
{
width: 50%;
}
.redes
 {
color: aliceblue;
 text-decoration: overline;
 text-align: center;
}
.redes1 
{
width: 10%;
}
/*.pie {
  background-color: rgb(150, 143, 135);
  display: flex;
flex-direction: row;
justify-content: space-evenly;
text-align: center;
padding: 30px;
 }
*/
 