.t-destinos {
  @include tamaños (100%, 70%);
}

.t-destinos img {
  @include tamaños (80%, 40%);
  align-items: center;
}

.oferta {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  text-align: center;
}

.boton {
  text-align: center;
  padding: 10%;
}