
header 
{
  background-image: linear-gradient(to right top, #ebaacf, #ee9cd1, #ee8dd5, #ec7eda, #e870e1, #d963d9, #c956d1, #b949c9, #9e3aaf, #842c96, #6b1e7e, #530f66);
display: flex;
flex-direction: row;
justify-content: space-between;
.logoPrincipal 
 {
   width: 150px;
 }
 .c-menu
{
  background-image: linear-gradient(to right top, #ebaacf, #ee9cd1, #ee8dd5, #ec7eda, #e870e1, #d963d9, #c956d1, #b949c9, #9e3aaf, #842c96, #6b1e7e, #530f66);
  font-size: 1.5rem;
}
.botones 
{
color: #530f66;
}
}
footer 
{
  background-image: linear-gradient(to right top, #ebaacf, #ee9cd1, #ee8dd5, #ec7eda, #e870e1, #d963d9, #c956d1, #b949c9, #9e3aaf, #842c96, #6b1e7e, #530f66);
.logo2 
{
@include tamaños(100%, 80%);
border-radius: 100%;
img 
{
width: 40%;
text-align: center;
}
}
.redes1
  {
    border-radius: 30%;
    border: 1px solid $lila;
    width: 10%;
  }
  .redes2
  {
    @extend .redes1;
  }
  .redes3
  {
    @extend .redes1;
  }
.redes
{
  color: aliceblue;
  text-decoration: overline;
  text-align: center;
  img 
  {
    width: 20%;
  }
}
}